/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 26, 2015, 5:24:19 PM
    Author     : Matteo
*/
#username{
    float: right; 
    float: top; 
    display: inline-block;
}

#loginform{
    padding-left: 5%;
}

#fulcrohome{
    margin-left: 300px;
}

#username{
    margin-right: 5%;
}

#paddare{
    padding-left: 20%;
}

.title{
    display: inherit
}

ul {
    list-style-type: none; 
    display: block; 
}

.btn{
    float: left; 
    display: inline-block;
}

.btncurrent{
    float: left; 
    display: inline-block;
}

#coda{
    position: fixed; 
    bottom: 0px;
}

.content{
    display: inline;
}

.fb-page{
    float: left;
}

#galleryTitle {
    margin: 0px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-family: inherit;
    color: #111;
    display: inline-block;
    width: inherit;
}

/*slideshow*/
#currentThumbTable {
    border-collapse: separate;
    border-spacing: 5px;
    margin: 5px;
    padding: 5px;
    outline: 5px;
    border-right-style: solid;
    border-right-color: orange;
    
}

#sideBarMenu {
    position: fixed;
    top: 100px;
    z-index: 2;
    width: auto;
}


/*immaginecorrente*/
#frame {
    position: fixed;
    top: 260px;
    left: 39%;
    margin: 0 auto;
    z-index: 0;
}

#currentImg {
    visibility: hidden;
}

#currentImageTitle {
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 0px;
    z-index: 1;
    border-style: solid;
   
}

#nextImageLink, #previousImageLink {
    position: absolute;
    height: 100%;
    width: 50px;
    cursor: pointer;
    z-index: 10;
    background: url('img/empty.gif') no-repeat center center;
    display: none;
    border: 0px;
}
    
#nextImageLink:hover {
    background: url('img/nextImg.png') no-repeat center center;
}

#nextImageLink {
    right: 10px;
    top: 0px;
}

#previousImageLink {
    left: 10px;
    top: 0px;
}

#previousImageLink:hover {
    background: url('img/prevImg.png') no-repeat center center;
}

#menuPrevLink, #menuNextLink {
    margin: 15px;
    cursor: pointer;
}

#currentImageLoading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url('img/loading.gif') no-repeat center center;
    display: none;
}

#loading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url('img/loading.gif') no-repeat center center;
    background-color: #000;
    opacity: 0.5;
    filter: Alpha(Opacity = 50);
}

#error {
    display: none;
}

.msg {
    margin: 0 auto;
    margin-top: 50px;
}

#sideBarTab {
    position: absolute;
    display: block;
    right: -30px;
    top: 0px;
    height: 30px;
    width: 30px;
}