/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 24, 2015, 4:22:08 PM
    Author     : Matteo
*/
*{font-family: "Georgia","Verdana",Times,serif;}

#username{border-style: solid; border-color: orange;}

#fulcrohome{
    //border-style: solid;
    //border-color: red;
}

#prova{
   // border-style: solid;
   // border-color: red;
    background-image: url('img/home2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*#testata{background: orange;}*/
#testata{
    background-image: url('img/tst2.jpg'); 
    background-repeat: no-repeat;
    background-position: left; 
    background-size: contain;
}

/*colore piè pagina*/
#coda{
    background: orange;
}

/*colore dei bottoni quando ci si passa sopra il puntatore*/
.btn:hover{background: #ffcc33;}

/*Stile dei bottoni*/
.btn {
 outline: none;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 font: bold 20px Arial, Helvetica, sans-serif;
 color: black;
 border: solid 1px #0076a3;
 background: orange;
}

.btncurrent {
 outline: none;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 font: bold 20px Arial, Helvetica, sans-serif;
 color: black;
 border: solid 1px #0076a3;
 background: #ffcc33;
}

/*divisore*/
#divisor{background: orange;}

.imago_thumbImg {border: #111;}

/*.imago_selectedThumb {border: #111;}*/

/*#sideBarMenu {background: #ffcc33;}*/

/*#sideBarContent {background: #ffcc33;}*/

.sideBarTabClosed {background: #111 url('img/open.png') no-repeat center center;}

.sideBarTabOpen {background: #111 url('img/close.png') no-repeat center center;}

#currentImg {border: orange;}
    

