.imago_thumbImg {
    border: #ffcc33;
}

.imago_selectedThumb {
    border: 5px solid #EDEDED;
}

#sideBarMenu {
	background: #ffcc33;
}

#sideBarContent {
	background: #ffcc33;
}

.sideBarTabClosed {
	background: #111 url('img/open.png') no-repeat center center;
}

.sideBarTabOpen {
	background: #111 url('img/close.png') no-repeat center center;
}

#imagoCurrentImg {
	border: #ffcc33;
}
    